{{- $name := promptStringOnce . "name" "Enter your name for Git commits" "Some Name" -}}
{{- $email := promptStringOnce . "email" "Enter your email for Git commits" "some@email.com" -}}
{{- $globalGpGKey := promptStringOnce . "globalGpGKey" "Enter your global GPG key for Git commits" "xxx" -}}

{{- $machineTypeChoices := list "personal" "work" -}}
{{- $machineType := promptChoiceOnce . "machineType" "Are you setting up a personal or work machine?" $machineTypeChoices -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    machineType = {{ $machineType | quote }}
    globalGpGKey = {{ $globalGpGKey | quote }}

[edit]
    command = "code"
    args = ["--wait"]

[merge]
    command = "bash"
    args = [
        "-c",
        {{ `cp {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}` | quote }},
    ]
