# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Using starship.rs prompt via plugin
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
# ZSH_THEME="robbyrussell"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

plugins=(
    git
    vi-mode
    starship
    zsh-autosuggestions
    you-should-use
    chezmoi
    gh
    npm
    fzf
    fzf-tab
    zsh-syntax-highlighting
    asdf
    encourage-asdf-tools
)

# Point fzf plugin to fzf install location
export FZF_BASE="$(brew --prefix fzf)"

# Ensure Homebrew completions are included.
# See: https://docs.brew.sh/Shell-Completion
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

# Load Oh My Zsh
source $ZSH/oh-my-zsh.sh

# Enable bash completion in zsh
autoload -U +X bashcompinit && bashcompinit

# Set Homebrew bundle file location
export HOMEBREW_BUNDLE_FILE=~/.Brewfile

# Disable Oh My Zsh auto-updates since chezmoi manages it
export DISABLE_AUTO_UPDATE=true

# Change cursor based on vi mode
export VI_MODE_SET_CURSOR=true

# Set position of zsh-you-should-use hints
export YSU_MESSAGE_POSITION="after"

# Show hidden files in file completions
setopt globdots

###########
# Aliases #
###########

alias cz="chezmoi"

{{ if eq .machineType "work" }}
# Misc

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# google-cloud-sdk - Update PATH and enable shell completion
if [ -f '/Users/wmruzek.cont/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/wmruzek.cont/google-cloud-sdk/path.zsh.inc'; fi
if [ -f '/Users/wmruzek.cont/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/wmruzek.cont/google-cloud-sdk/completion.zsh.inc'; fi
{{ end }}