export ZSH="$HOME/.local/share/oh-my-zsh"
ZSH_CUSTOM="$ZDOTDIR/custom"

ZSH_DISABLE_COMPFIX=true

plugins=(
    zsh-syntax-highlighting
    vi-mode
    direnv
    git
    fzf
    starship
    you-should-use
    chezmoi
    gh
    npm
    forgit
    zsh-autocomplete
    # zsh-abbr
    zsh-autosuggestions
    # zsh-autosuggestions-abbreviations-strategy
)

BREW_BASE={{ output "brew" "--prefix" | trim }}
BREW_OPT="$BREW_BASE/opt"
BREW_LIB="$BREW_BASE/lib"

# Point fzf plugin to fzf install location
export FZF_BASE="$BREW_OPT/fzf"

fpath=($BREW_BASE/share/zsh-completions $fpath)

# ==============================================================================
# Load Oh My Zsh
# ==============================================================================
source $ZSH/oh-my-zsh.sh
# ==============================================================================

# ZSH_AUTOSUGGEST_STRATEGY=(abbreviations $ZSH_AUTOSUGGEST_STRATEGY)

ABBR_QUIET=1
ABBR_AUTOLOAD=0
ABBR_SET_EXPANSION_CURSOR=1
ABBR_SET_LINE_CURSOR=1
ABBR_GET_AVAILABLE_ABBREVIATION=1
ABBR_LOG_AVAILABLE_ABBREVIATION=1
ABBR_LOG_AVAILABLE_ABBREVIATION_AFTER=1

# Make Tab and ShiftTab go to the menu
bindkey              '^I' menu-select
bindkey "$terminfo[kcbt]" menu-select

# Make ← and → always move the cursor on the command line
bindkey -M menuselect  '^[[D' .backward-char  '^[OD' .backward-char
bindkey -M menuselect  '^[[C'  .forward-char  '^[OC'  .forward-char

# Option + Right Arrow -> Forward Word
bindkey "^[[1;3C" forward-word
bindkey "^[f" forward-word

# Option + Left Arrow -> Backward Word
bindkey "^[[1;3D" backward-word
bindkey "^[b" backward-word

###########
# Aliases #
###########

alias cz="chezmoi"
alias czd="chezmoi diff"
alias cza="chezmoi apply"
(( $+commands[bat] )) && alias cat="bat"
(( $+commands[eza] )) && alias ls="eza"

# Load abbreviations
# for abbr_file in $ZDOTDIR/abbreviations/*.zsh; do
#   source "$abbr_file"
# done

# abbr import-aliases

# Trigger fzf history search with up arrow
bindkey '^[[A' fzf-history-widget
bindkey '^[OA' fzf-history-widget

bindkey -M viins '^[[A' fzf-history-widget
bindkey -M vicmd '^[[A' fzf-history-widget

bindkey -M viins '^[OA' fzf-history-widget
bindkey -M vicmd '^[OA' fzf-history-widget

# Enable bash completion in zsh
autoload -U +X bashcompinit && bashcompinit

# Disable Oh My Zsh auto-updates since chezmoi manages it
DISABLE_AUTO_UPDATE=true

# Change cursor based on vi mode
VI_MODE_SET_CURSOR=true

# Set position of zsh-you-should-use hints
YSU_MESSAGE_POSITION="after"

# Show hidden files in file completions
setopt globdots

test -e "${ZDOTDIR}/.iterm2_shell_integration.zsh" && source "${ZDOTDIR}/.iterm2_shell_integration.zsh"
